<header>
  <div>
    <a routerLink="/">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        Spaki Commerce
    </a>
  </div>
  <div>
    <app-search-bar (searchClick)="searchClick($event)"></app-search-bar>
  </div>
  <div class="user-info text-right">
    <app-user-bar></app-user-bar>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
    <p>
        &copy; {{ currentDate | date: 'yyyy' }} - Spaki Commerce - Developed by
        <a target="_blank" class="code21-link" href="http://code21.com.br">Code 21</a>
        .
    </p>
</footer>