a, div {
    font-size: 14px;
    color: #fff;
}

a:hover {
    color: #00bbf0;
}

.count {
    color: #fff;
    padding: 4px;
    border-radius: 50%;
    font-size: 10px;
    background-color: red;
}